* {
    box-sizing: border-box;
}

.root {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    position: absolute;
}


.bg-root {
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%) no-repeat;
}
.content{
    width: 50%;
    height: 35%;
    background: white;
   margin: auto;
    border-radius: 15px;
    border: 1px solid;
    text-align: center;
    padding: 10px;
}

.root::before {
    content: "";
    background-image:url("images/Path 4.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -250px;
    right: 0;
    left: 0;
    width: 100%;
    height: 410px;
}
.root::after {
    content: "";
    background-image:url("images/Path 4.1.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
   width: 100%;
    height: 20%;
}